<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand">
    Event
  </a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"> Add Event</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"> Admin Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Login</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <hr />
  <button class="btn btn-primary float-right">Add</button>
  <h2>Events</h2>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gaza1</td>
        <td>2/27/2019</td>
        <td>6:00pm</td>
        <td>
          <button class="btn ">Edit</button>
          |
          <button class="btn ">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
